<launch>
    <arg name="droneIP" default="192.168.50.61"/>
    <arg name="droneDNS" default="pbebop2.smart.metz.supelec.fr"/>

    <node name="twist2pic" pkg="st5drone" type="twist2pic.py"/>
    <node pkg="rqt_image_view" type="rqt_image_view" name="image_view" args="/image_out/compressed"/>

    <arg name="joy_dev" default="/dev/input/js0"/>

    <!-- Joystick driver -->
    <node pkg="joy" type="joy_node" name="joy_node">
        <param name="dev" value="$(arg joy_dev)"/>
        <param name="deadzone" value="0.1"/>
        <param name="autorepeat_rate" value="20"/>
    </node>

    <!-- joy to twist conversion -->
    <node pkg="st5drone" name="joy_map" type="joy_map.py">
    </node>

    <node pkg="st5drone" name="speed_controller" type="speed_controller.py">
    </node>

    <!-- rqt_image_view /bebop/image_raw /image_out/compressed -->
</launch>